* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}
body {
  background: #515151;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  width: 95vw;
  max-width: 600px;
  padding: 10px;
  /* background: #ffbfa6; */
  border-radius: 5px;
  margin-top: 10px;
}
/* .heading-container {
} */
.input-section {
  width: 100%;
  /* background: greenyellow; */
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.heading-1 {
  color: #7dd7f5;
  margin-bottom: 10px;
}
.input-section input {
  font-size: 18px;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  flex: 1;
}
.input-section button {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #a9f7a9;
}
.input-section button:hover {
  background: #90e790;
  cursor: pointer;
}
.answer-section {
  width: 100%;
  /* background: #aeaeee; */
  /* padding: 8px; */
  margin-top: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  /* height: 50px; */
}
.answer-section .left {
  flex: 1;
  /* background: rgb(255, 200, 0); */
  color: #ffff41;
  border: 1px solid #fff;
  overflow-x: auto;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  /* display: inline-block; */
}
.answer-section .right {
  /* background: green; */
  /* width: 80px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.answer-section .right button {
  font-size: 16px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background: #cef76f;
  border-radius: 4px;
  height: 100%;
  width: 150px;
}
.answer-section .right button:hover {
  background: #b4de52;
  cursor: pointer;
}

.detailed-answer {
  width: 100%;
  padding: 10px;
  /* background: #c87304; */
  /* background: linear-gradient(135deg,#6fb3f6,#c54a4a); */
  margin-top: 10px;
  height: 300px;
  overflow-y: auto;
  /* transition: 0.4s ease; */
  animation: go-visible 0.3s linear 1;
  border-radius: 5px;
  border: 1px solid #ccc;
  border-top: none;
}
@keyframes go-visible {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}
.detailed-answer .single-line {
  width: 100%;
  height: 50px;
  overflow-x: auto;
  background-color: #cbbffc;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  /* justify-content: cente; */
}
.description-section {
  width: 100%;
  padding: 10px;
  /* background: yellow; */
  color: #fff;
  border: 1px solid;
  border-radius: 5px;
  margin-top: 10px;
}
